
  /* Faktum Regular */
@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nishi";
  src: url("~/assets/fonts/NishikiTeki-MVxaJ.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Faktum Bold */
@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-SemiBold.otf") format("opentype");
  font-weight:600;
  font-style: normal;
}
@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Faktum";
  src: url("~/assets/fonts/Faktum-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
/* noto color emoji */
@font-face {
  font-family: 'Noto Color Emoji';
  src: url("~/assets/fonts/NotoColorEmoji.ttf") format('truetype');
}